*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: azure;  */
}

.container {
    height: 100%;
    width: 100%;
    
}

.hr-text {
    border: 0;
    line-height: 2em;
    position: relative;
    text-align: center;
    height: 1.5em;
    font-size: 34px;
    margin: 30px 15px;
  }
  
  
  .hr-text::before {
      content: "";
      background: linear-gradient(to right, transparent, rgb(3, 0, 0), transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
  }
  
  .hr-text::after {
      content: attr(data-content);
      position: relative;
      padding: 0 7px;
      line-height: 1.5em;
      color: white;
      background-color: #1a1a1a;
  }

.section4 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 90px;
}




